/**********************************************************
Basic Body 
*/
html,
body {
    width: 100%!important;
    height: 100% !important;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0 !important;
    padding: 0 !important;
    top: 0 !important;
    right: 0 !important;
    left: 0 !important;
    bottom: 0 !important;
    background-repeat: no-repeat !important;
    font-family: sans-serif;
    background: var(--W);
    color:var(--B);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
 
}

/**
font size
**/
.FSHeroT{
font-size: 50px;
}
.FSHeroTx{
    font-size: 30px;

}

@media (max-width:960px) {
    .FSHeroT{
        font-size:45px;
        }
        .FSHeroTx{
            font-size: 25px;
        }
}
@media (max-width:600px) {
    .FSHeroT{
        font-size:40px;
        }
        .FSHeroTx{
            font-size: 23px;
        }
}
@media (max-width:300px) {
    .FSHeroT{
        font-size:20px;
        }
        .FSHeroTx{
            font-size: 16px;
        }
}
.LHF{
    line-height: 0.4;
}
.FF_BOLD{
    font-weight: bold;
}
.FF_cairo{
font-family: 'Cairo'
}
.FF_courier{
    font-family:'Courier New', Courier, monospace;
}
.FF_franklin{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.FF_lucida{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.FF_segoe{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.FF_times{
    font-family:'Times New Roman', Times, serif;
}
.FF_trebuchet{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.FF_arial{
    font-family:Arial, Helvetica, sans-serif;
}
.FF_cambria{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.FF_georgia{
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.FF_impact{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.FF_verdana{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.FF_cursive{
    font-family:cursive;
}
.FF_fantasy{
    font-family:fantasy;
}
.FF_monospace{
    font-family:monospace;
}
.FF_sansserif{
    font-family:sans-serif;
}
.FF_serif{
    font-family:serif;
}

body::-webkit-scrollbar {
    width: 10px;
    height: 10px;
   
}

body::-webkit-scrollbar-thumb {
    background: var(--PR);
    border-radius: 10px;
}

body::-webkit-scrollbar-track {
    background: var(--W);
    position: absolute;
}

* {
    position: relative;
    box-sizing: border-box;
}

html {
    -webkit-tap-highlight-color: var(--B);
    
    
}

audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

a:active,
a:hover {
    outline: 0;
}
input{
    outline:2px solid var(--PR);
    color: var(--B);
}
a {
    text-decoration: none;
}

img {
    border: 0;
}

svg:not(:root) {
    overflow: hidden;
}


button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
    font-weight: bold;
}

button[disabled],
html input[disabled] {
    cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    padding: 0;
    border: 0;
}
dialog{
    padding: 0.5rem;
    z-index: 10;
    max-width:700px ;
    background-color: var(--W);
}
dialog::backdrop{
    background-color:hsl(0,0%,0%,0.6);
 
}
textarea,
input {
    line-height: normal;
    background: var(--W);
    outline: none;
    color: var(--B);
}
input:focus{
    outline:2px solid var(--PR);
}

input[type="checkbox"],
input[type="radio"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

input[type="search"] {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
input:checked+.slider {
    background-color: var(--GRE3);
}

input:focus+.slider {
    box-shadow: 0 0 1px rgba(0, 0, 0, .5);
}

input:checked+.slider:before {
    -webkit-transform: translateX(22px);
    -ms-transform: translateX(22px);
    transform: translateX(22px);
}
input[type='file']::-webkit-file-upload-button {
    background-color: var(--PRD);
    height: 30px;
    width: 30px;
    color: var(--W);
    border: none;
}
hr {
    top: 0;
    margin: 0;
    margin-top: 5px;
    bottom: 0;
    margin-bottom: 5px;
}

.table tr:nth-of-type(2n){
 
    filter: brightness(90%);
}
.table tr:nth-of-type(2n):hover{
 
    filter: brightness(70%);
}
.table thead{
   
    filter: brightness(80%);
}
.table{
    text-transform: capitalize;
    border-collapse: collapse !important;
}
@media (max-width:960px) {
    .table {
        width: 100%;
    }
    .table  th{
    display: none;
    }
    .table td {
        width: 100%;
        display: block;

    }
    .table td::before {
       content: attr(model_data) " : ";
       font-weight: 700;
    }
    .table .settings {
        width: 10px;
        display: block;
        position: absolute;
        top: 0;
        color: var(--W);
        right: 0;

    }
    
}
.SCALE_5{
    transform: scale(0.5);
}
/**
dragable
*/
.drag{
    -webkit-app-region: drag;
    
}
.noDrag{
    -webkit-app-region: no-drag;
}
/**********************************************************
** hover
**/
.hovTW:hover,
.hovTW:focus{
width: auto;
filter: brightness(100%);
}
.hovTW{
    width: 10px;
    height: 30px;
}
.hovTW{
    overflow: hidden;
}
.hovTW::before{
    content: '\22EE';
    font-size: 14px;
    line-height: 0;
    color: var(--B);
}
.selectIcon::after{
    content: '\25be';
    position: absolute;
    right: 3px;
    color: var(--PR);
}
.hovTW:hover:before,
.hovTW:hover:focus{
   display: none;
}
.HOV:hover ,
.HOV:focus  {
    background-color: var(--PR);
}
.HOVPR:hover ,
.HOVPR:focus  {
    background-color: var(--PR);
}
.HOVPRD:hover ,
.HOVPRD:focus  {
    background-color: var(--PR_D);
}
.HOVL:hover ,
.HOVL:focus {
    filter: brightness(130%);
}
.HOVC:hover ,
.HOVC:focus  {
    color: var(--PR);
}
.HOVCPR:hover ,
.HOVD:focus  {
    color: var(--PR);
}
.HOVCPRD:hover ,
.HOVCPRD:focus  {
    color: var(--PR_D);
}
.HOVCWHITE:hover ,
.HOVCWHITE:focus  {
    color: #fff;
}

.HOVCBLACK:hover {
    color: #000;
}

.HOVD:hover ,
.HOVD:focus 
{
    filter: brightness(60%);
}
/**********************************************************
kit tools
smart ui
*/
tr:hover,
tr:focus {
    filter: brightness(70%);
}

::placeholder {
    color: var(--PR);
    opacity: 1;
}

::-ms-input-placeholder {
    color: var(--PR);
}

::-ms-input-placeholder {
    color: var(--PR);
}
audio::-webkit-media-controls-enclosure {
    background-color: var(--PR);
    
}
audio::-webkit-media-controls-volume-control-container {opacity: 1;}
audio::-webkit-media-controls-volume-control-container.closed {opacity: 1;}
audio::-webkit-media-controls-volume-slider-container {opacity: 1;}
audio::-webkit-media-controls-volume-slider {opacity: 1;}
audio::-webkit-media-controls-play-button{opacity: 1;}
audio::-webkit-media-controls-timeline {display: none;}
audio::-webkit-media-controls-timeline-container{display: none;}
audio::-webkit-media-controls-current-time-display{display: none;}
audio::-webkit-media-controls-time-remaining-display{display: none;}
audio::-webkit-media-controls-seek-back-button  {display: none;}
audio::-webkit-media-controls-seek-forward-button  {display: none;}
audio::-webkit-media-controls-fullscreen-button  {display: none;}
audio::-webkit-media-controls-rewind-button  {display: none;}
audio::-webkit-media-controls-return-to-realtime-button  {display: none;}
audio::-webkit-media-controls-toggle-closed-captions-button  {display: none;}
audio::-webkit-media-controls-play  {display: none;}
audio::-webkit-media-controls-time  {display: none;}
/**********************************************************
print
*/
@media print {
    *,
    *:before,
    *:after {
        text-shadow: none !important;
        background: transparent !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }
    pre,
    blockquote {
        border: 1px solid var(--PRD);
        page-break-inside: avoid;
    }
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
    .navbar {
        display: none;
    }
    .btn>.caret,
    .dropup>.btn>.caret {
        border-top-color: #000 !important;
    }
    .label {
        border: 1px solid #000;
    }
    .table {
        border-collapse: collapse !important;
    }
    .table td,
    .table th {
        background-color: #fff !important;
    }
    .table-bordered th,
    .table-bordered td {
        border: 1px solid #ddd !important;
    }
}

@media print {
    .visible-print-block {
        display: block !important;
    }
}

.visible-print-inline {
    display: none !important;
}

@media print {
    .visible-print-inline {
        display: inline !important;
    }
}

.visible-print-inline-block {
    display: none !important;
}

@media print {
    .visible-print-inline-block {
        display: inline-block !important;
    }
}

@media print {
    .hidden-print {
        display: none !important;
    }
}


/**********************************************************
custom element
*/
cr {
    border-radius: 50%;
    width: fit-content;
    width: -moz-fit-content;
    display: inline-block;
}

.cr {
    border-radius: 50%;
    display: inline-block;
    max-width: -moz-fit-content;
}
cell {
    display: block;
   
    content: "";
    clip-path: polygon(0% 50%, 25% 100%, 75% 100%, 100% 50%, 75% 0%, 25% 0%);


  }

tringL{
    display: block;
    
    content: "";
    clip-path: polygon( 100% 100% ,100% 0% ,50% 50%);

}
tringT{
    display: block;
    
    content: "";
    clip-path: polygon(0% 100%, 50% 0%, 100% 100%);

}
tringR{
    display: block;
    
    content: "";
    clip-path:  polygon(0% 0%, 100% 50%, 0% 100%);

}
tringB{
    display: block;
    
    content: "";
    clip-path: polygon(0% 0%, 50% 100%, 100% 0%);

}
/***
GLASS
**/

.BBGLASS{
    background-color:rgba(0, 0, 0, 0.432);
    backdrop-filter: blur(2px);
}
.WWGLASS{
    background-color:rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(5px);
}
.BLUEGLASS{
    background-color:rgba(15, 0, 42, 0.432);
   
}
.YELOWGLASS{
    background-color:rgba(255, 233, 106, 0.432);
   
}
/**
* shadow
**/
.SH,.SHD{
    box-shadow: 0 3px 7px rgb(0 0 0 / 60%);
}
.SHs{
    box-shadow: 0 1px 3px rgb(0 0 0 / 60%);
}

.B_GOLD {
    background: radial-gradient(ellipse farthest-corner at right bottom, #fad428 0%, #FDB931 8%, #b88821 30%, #a6812b 40%, transparent 80%),
    radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #fdfdb5 8%, #f3d174 25%, #866006 62.5%, #5d4a1f 100%);
}
.F_GOLD{
    background: rgb(255,251,127);
    background: -webkit-linear-gradient(270deg, rgb(250, 244, 80) 0%, rgb(108, 108, 0) 35%, rgb(252, 209, 67) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.FFGOLD2{
   
    font-weight: 600;
    background-image: linear-gradient(167deg,#ffefd8 0,#ffddae 34%,#d1933a 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/****************************************************
auto class
*/

/*
cursor 
*/
.pointer {
    cursor: pointer;
}
.move {
    cursor: move;
}

/*
display 
*/
.D_B {
    display: block;
}
.D_N {
    display: none;
}
.D_G {
    display: grid;
}
.D_FLX {
    display: flex;
}
.D_INL {
    display: inline;
}
.D_INB {
    display: inline-block;
}
.D_FLR {
    display: flow-root;
}
.D_FLOWROOT {
    display: flow-root;
}
/*
text-align 
*/
.T_S {
    text-align: start;
}
.T_E{
    text-align: end;
}
.T_L {
    text-align: left;
}

.T_R {
    text-align: right;
}

.T_C {
    text-align: center;
}
.T_J{
    text-align: justify;
}
/* Auto text align if direction change */
.T_LL {
    text-align: var(--DirL);
}

.T_RR {
    text-align: var(--DirR);
}
.DIREC_L {
    direction: ltr;
}

.DIREC_R {
    direction: rtl;
}

/*
float 
*/
.FL_L {
    float: left;
}

.FL_R {
    float: right;
}

.FL_N {
    float: none;
}

/*
margin auto 
*/
.MD {
    margin: auto;
}

.MLA {
    margin-left: auto;
}

.MRA {
    margin-right: auto;
}
.MTA {
    margin-top: auto;
}
.MBA {
    margin-bottom: auto;
}
/*
position
*/
.POS_AB {
    position: absolute;
}

.POS_RE {
    position: relative;
}

.POS_FX {
    position: fixed;
}
/*
width
height
*/
.WW{
    width: 100%;
}
.HH{
    height: 100%;
}
.W_F_C{
    width: fit-content;
}
.H_F_C{
    height: fit-content;
}

.W_M_C{
    width: max-content;
}
.H_M_C{
    height: max-content;
}


/**
overflow
*/
.SCROLL{
    overflow-y: scroll;
}
.OV_HIDE{
    overflow: hidden;
}
.overHide {
    overflow: hidden;
}
.overAutoX {
    overflow-x: auto;
}
.overAutoX ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
   
}

.overAutoX ::-webkit-scrollbar-thumb {
    background: var(--PR);
    border-radius: 10px;
}

.overAutoX ::-webkit-scrollbar-track {
    background: var(--W);
    position: absolute;
}

/****************************************************
custom element class
*/

.B_BLACK{
    background-color: #000000;
}

.F_BLACK{
    color: #000000;
}

.B_WHITE{
    background-color: #ffffff;
}

.F_WHITE{
    color: #ffffff;
}
/****************************************************
custom element
*/


.input {
    border: none;
    border-bottom: 4px solid var(--PR);
    color:var(--B);
    padding: 5px 10px;

}
.inputLabel{
    margin-bottom: 20px;
    margin-top: 20px;
}
/* The switch - the box around the slider */

.switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 22px;
}


/* Hide default HTML checkbox */

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}


/* The slider */

.slider {
   display: inline-block;
    cursor: pointer;
    width: 45px;
    height: 22px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--GRY9);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    display: inline-block;
    content: "";
    height: 18px;
    width:18px;
    left: 0;
    top: 0;
    margin-left: 2px;
    margin-top: 2px;
    background-color: var(--W);
    -webkit-transition: .4s;
    transition: .4s;
}
/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.Ztop {
    z-index: 10;
}

/* @media */
.main,.FLX_C{
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

.labtob{
    display: block;
}
.HALF {
    width: 50%;
}
.mob{
    display: none;
}
@media (max-width:900px) {
    .main,.FLX_C{
    width: 100%;
    
}
.pc{
    display: none;
}
.mob{
    display: unset;
}
.labtob{
    display: none;
}
.HALF {
    width: 100%;
}
  }
  @media (max-width:600px) {
    .main,.FLX_C{
    width: 100%;
    
}

.labtob{
    display: none;
}
.HALF {
    width: 100%;
}
  }


/*lazyCards */
  .lazyCards {
    width: 100vw;
    height: 100vh;
    color: white;
    margin: 0 auto;
    margin-bottom: 24px;
    position: relative;
}

.lazyCards>div {
    display: flex;
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(220deg, var(--PR_D), var(--PR));
    justify-content: space-between;
    flex-direction: column;
    padding: 16px;
    border-radius: 16px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    transform-origin: top center;
    will-change: transform;
    overflow: hidden;
}

.lazyCards>img {
    display: flex;
    position: absolute;
    top: 0;
    width: 100%;
    max-width: 1000px;
    height: auto;
    max-height: 100%;
    min-height: 300px;
    background: linear-gradient(220deg, var(--PR_D), var(--PR));
    justify-content: space-between;
    flex-direction: column;
    padding: 16px;
    border-radius: 16px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    transform-origin: top center;
    will-change: transform;
    overflow: hidden;
}

/**
cards
*/
.card {
    width: 20%;
    margin: 16px auto;
    top: 3px;
    position: relative;
    float: left;
}


.card2 {
    width: 50%;
    position: relative;
    float: left;
}
.card3 {
    width: 33%;
    margin: 16px auto;
    top: 3px;
    position: relative;
    float: left;
}
.card4 {
    width: 25%;
    margin: 16px auto;
    top: 3px;
    position: relative;
    float: left;
}


.card5 {
    width: 20%;
    margin: 16px auto;
    top: 3px;
    position: relative;
    float: left;
}

.card6 {
    width: 15%;
    margin: 16px auto;
    top: 3px;
    position: relative;
    float: left;
}

.inCard {
    margin: 10px;
    overflow: hidden;
    border-radius: 15px;
    height: 100%;
    background-color: #fff;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 540px) {
    .card {
        width: 100%;
        font-size: 60%;
    }
    .card2 {
        width: 100%;
        font-size: 60%;
    }
    .card3 {
        width: 100%;
        font-size: 60%;
    }
    .card4 {
        width: 100%;
        font-size: 60%;
    }
    .card5 {
        width: 100%;
        font-size: 60%;
    }
    .card6 {
        width: 100%;
        font-size: 60%;
    }
}

/**
animation class
*/

/**
rotate 
*/
.rotate_45{
    transform: rotate(45deg);
}

.rotate_90{
    transform: rotate(90deg);
}


:root{
    --slideDown-time:300ms;
    --scaleUp-time:500ms;
    --riseUp-delay:800ms;
    --riseRight-delay:1000ms;
}

/**
slide
*/
.a_slideDown{
    animation: slideDown var(--slideDown-time) ease-in;
}

@keyframes slideDown{
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(0);
    }
}
.a_slideUp{
    animation: slideUp var(--slideDown-time) ease-in calc(var(--slideDown-time)+200); ;
}

@keyframes slideUp{
    0%{
        transform: translateY(100%);
    }
    100%{
        transform: translateY(0);
    }
}



.a_slideRight{
    transform: translateX(-1000%);
    animation-name: slideRight;
    animation-duration: var(--scaleUp-time);
    animation-timing-function: ease-in;
    animation-delay: var(--slideDown-time);
    animation-fill-mode: forwards;
}
@keyframes slideRight{
    0%{
        transform: translateX(-1000%);
    }
    90%{
        transform: translateX(50%);
    }
    100%{
        transform: translateX(0);
    }
}

.a_slideLeft{
    transform: translateX(1000%);
    animation-name: slideLeft;
    animation-duration: var(--scaleUp-time);
    animation-timing-function: ease-in;
    animation-delay: var(--slideDown-time);
    animation-fill-mode: forwards;
}
@keyframes slideLeft{
    0%{
        transform: translateX(1000%);
    }
    90%{
        transform: translateX(-50%);
    }
    100%{
        transform: translateX(0);
    }
}
/***
rise
*/
.a_riseDown{
    transform: translateY(-20px);
    opacity: 0;
    animation-name: riseDown;
    animation-duration: var(--scaleUp-time);
    animation-timing-function: ease-in;
    animation-delay: calc(var(--riseUp-delay)+200);
    animation-fill-mode: forwards;
}
@keyframes riseDown{
    0%{
        transform: translateY(-20px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
.a_riseUp{
    transform: translateY(20px);
    opacity: 0;
    animation-name: riseUp;
    animation-duration: var(--scaleUp-time);
    animation-timing-function: ease-in;
    animation-delay: var(--riseUp-delay);
    animation-fill-mode: forwards;
}
@keyframes riseUp{
    0%{
        transform: translateY(20px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
.a_riseRight{
    transform: translateX(-20px);
    opacity: 0;
    animation-name: riseRight;
    animation-duration: var(--scaleUp-time);
    animation-timing-function: ease-in;
    animation-delay: var(--riseRight-delay);
    animation-fill-mode: forwards;
}




@keyframes riseRight{
    0%{
        transform: translateX(-20px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
.a_riseLeft{
    transform: translateX(20px);
    opacity: 0;
    animation-name: riseLeft;
    animation-duration: var(--scaleUp-time);
    animation-timing-function: ease-in;
    animation-delay: var(--riseRight-delay);
    animation-fill-mode: forwards;
}



@keyframes riseLeft{
    0%{
        transform: translateX(20px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
/**
scale
*/
.a_scaleUp{
    transform: scale(0);
    animation-name: scaleUp;
    animation-duration: var(--scaleUp-time);
    animation-timing-function: ease-in;
    animation-delay: var(--slideDown-time);
    animation-fill-mode: forwards;
}
@keyframes scaleUp{
    0%{
        transform: scale(0);
    }
    90%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}



/*
Drop Btn
*/


/*
img Cover 
*/
/*
to control view area use  overflow hidden holder
*/
.imgHolder {
    width: 100%;
    overflow: hidden;
}

.imgCover {
    width: 100%;
    
    height: auto;
}

.imgCoverL {
    width: 100%;
}

@media screen and (max-width: 900px) {
.imgCover {
    width: 200%;
    margin-left: -50%;
    margin-right: -50%;

}

.imgCoverL {
    width: 200%;
    margin-right: -100%;

}
}
@media screen and (max-width: 290px) {
.imgCover {
    width: 200%;
    margin-left: -50%;
   
}
.imgCoverL {
    width: 200%;
    margin-right: -100%;
}
}



.chatHolderAll{
    width: 100%;
    max-width: 900px;
    height:fit-content;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    display: flow-root;
}
.chatImgHolder{

    width: 20%;
    max-width: 100px;
    height: 200px;
    display: inline-block;
    text-align: center;
    position: relative;
margin: 0;
padding: 0;
   
}
.contactList{
    padding: 10px;
    
}
.contactList>h1{
    text-align: center;
    padding-bottom: 20px;
}
.contactList>h1{
    font-family: 'Courier New', Courier, monospace;
}

.chatImgHolderS{

    width: 20%;
    max-width: 100px;
    height: 100px;
    display: inline-block;
    text-align: center;
    position: relative;
margin: 0;
padding: 0;
   
}
a{
    text-decoration: none;
    color: #fff;
}

.chatTxtHolder{
    width: -webkit-fill-available;
    height: 150px;
    max-width: 60%;
    display: inline-block;
    position: absolute;
    margin: 10px;
padding: 0;
  
}
.chatTxtHolderS{
    width: -webkit-fill-available;
    height: 100px;
    max-width: 60%;
    display: inline-block;
    position: absolute;
    margin: 10px;
padding: 0;
  
}
.isoTxt{
max-width: 250px;
width: 100%;
height: 80px;
margin: 30px auto 0 auto;
}
.isoTit{
    
    border-radius: 50%;
    top: 0;
    border: 2px red solid;
    background-color: var(--W);
    margin-top: 30px;
    width: 120px;
    height: 120px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 4px 6px rgb(0 0 1 / 70%)
}
.imgLogo{
    top: 0;
    position: absolute;
    display: block;
  
    width: 100px;
}
.major{
    inset: 3em 1em;
    position: absolute;
    text-align: center;
    font-size: 40px;
}
@media only screen and (max-width: 800px) {
    .chatTxtHolder{
        max-width: 60%;
    }
    .imgLogo{
        width: 70px;
    }
    .chatHolderAll{
        width: 100%;
       
        padding: 10px;
       margin-bottom: 7%;
    }
}

@media only screen and (max-width: 560px) {
    .chatTxtHolder{
        max-width: 70%;
    }
    .imgLogo{
        width: 70px;
    }
    .chatHolderAll{
        width: 100%;
       
        padding: 10px;
       margin-bottom: 16%;
    }
}

@media only screen and (max-width: 460px) {
    .chatTxtHolder{
        max-width: 70%;
    }
    .imgLogo{
        width: 70px;
    }
    .chatHolderAll{
        width: 100%;
       
        padding: 10px;
       margin-bottom: 170px;
    }
    .isoTxt p{
        font-size: 14px;
    }
}
@media only screen and (max-width: 285px) {
    .chatTxtHolder{
        max-width: 70%;
    }
    .imgLogo{
        width: 70px;
    }
    .chatHolderAll{
        width: 100%;
        
        padding: 10px;
       margin-bottom: 275px;
    }
    .isoTit{
    
     
        margin-top: 50px;
        width: 90px;
        height: 90px;
       
    }
    .isoTit h2{
        font-size: 14px;
        width: 70px;
    }
    .isoTxt p{
        font-size: 12px;
    }
}
.arrow-right {
    width: 100vw; 
    height: 100vw;
    transform: rotate(45deg); 
  background-color: var(--PR);
  }
.waveBack {
    background-color: var(--W);
    background-image:         linear-gradient(45deg, hsla(0,0%,0%,.25) 25%, transparent 25%, transparent 75%, hsla(0,0%,0%,.25) 75%, hsla(0,0%,0%,.25)), 
                              linear-gradient(45deg, hsla(0,0%,0%,.25) 25%, transparent 25%, transparent 75%, hsla(0,0%,0%,.25) 75%, hsla(0,0%,0%,.25));
    background-position:0 0, 2px 2px;
    background-size:4px 4px;
  
}
.HOVRE:hover{
    color: #c62039;
}
.FONT_Cairo {
    font-family: Cairo;
}

.chessboard {
    width: 1500px;
    height: 1500px;
    display: grid;
    left: 0;
    margin-left: -500px;
    top: 0;
    margin-top: -500px;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    transform: rotate(45deg);
}

.chess-piece {
    width: 100%;
    height: 100%;
}
@media only screen and (max-width: 560px) {
    .chessboard {
        width: 800px;
        height: 800px;
        margin-left: -150px;
        margin-top: -100px;
    }
}



.PBorder{
    border-bottom: 10px var(--PR_D) double;
}
.GRID{
    display: grid;
    grid-template-columns: 1fr 1fr;  
}


.treeView{
    padding: 0;
    margin: 0 auto;
    width: max-content;
   
}
.treeView ul {
    padding-top: 20px; 
    position: relative;
	
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

.treeView li {

	float: left; text-align: center;
	list-style-type: none;
	position: relative;
	padding: 20px 5px 0 5px;
	
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

.treeView li::before, .treeView li::after{
	content: '';
	position: absolute; top: 0; 
    right: 50%;
	border-top: 1px solid #ccc;
	width: 50%;
  
     height: 20px;
}
.treeView li::after{
	right: auto; left: 50%;
	border-left: 1px solid #ccc;
}

.treeView li:only-child::after, .treeView li:only-child::before {
	display: none;
}

.treeView li:only-child{ padding-top: 0;}

.treeView li:first-child::before, .treeView li:last-child::after{
	border: 0 none;
}
.treeView li:last-child::before{
	border-right: 1px solid #ccc;
	border-radius: 0 5px 0 0;
	-webkit-border-radius: 0 5px 0 0;
	-moz-border-radius: 0 5px 0 0;
}
.treeView li:first-child::after{
	border-radius: 5px 0 0 0;
	-webkit-border-radius: 5px 0 0 0;
	-moz-border-radius: 5px 0 0 0;
}

.treeView ul ul::before{
	content: '';
	position: absolute; top: 0; left: 50%;
	border-left: 1px solid #ccc;
	width: 0; height: 20px;
}

.treeView li a{
	border: 1px solid #ccc;
    cursor: pointer;
	padding: 5px 10px;
	text-decoration: none;
	color: var(--B); 
	font-family: arial, verdana, tahoma;
	font-size: 12px;
	display: inline-block;
	
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

.treeView li a:hover, .treeView li a:hover+ul li a {
	background: var(--B);
    color:var(--W); 
    border: 1px solid #94a0b4;
}

.treeView li a:hover+ul li::after, 
.treeView li a:hover+ul li::before, 
.treeView li a:hover+ul::before, 
.treeView li a:hover+ul ul::before{
	border-color:  #94a0b4;
}